@page "/demandepage"
@using Djibus.Core.Models
@inject AuthenticationStateProvider GetAuthStateAsync

@inject IDbContextFactory<ApplicationDbContext> MyContextFactory

@attribute [Authorize]

<h3 class="alert alert-info">All Demands</h3>
<div class="table table-responsive">
    <TelerikGrid Data="@Demandes"
                 ConfirmDelete="true"
                 Resizable="true"
                 Reorderable="true"
                 SelectionMode="GridSelectionMode.Multiple"
                 PageSize="10"
                 Navigable="true"
                 Pageable="true"
                 Sortable="true"
                 Groupable="true"
                 OnCreate="CreateDemand"
                 OnUpdate="UpdateDemand"
                 OnDelete="DeleteDemand"
                 EditMode="GridEditMode.Popup"
                 FilterMode="GridFilterMode.FilterMenu"
                 ShowColumnMenu="true">
        <GridToolBar>
            <GridCommandButton Command="Add" Icon="add">New Demand</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field="@(nameof(Demande.Title))" Title="Title" />
            <GridColumn Field="@(nameof(Demande.TypeDemandeId))" Title="Type">
                <Template>
                    @{
                        int id = (context as Demande).TypeDemandeId;
                        <text>@GetTypeDemandById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _TypeDemand = ctx.TypeDemandes.ToList();
                            var _demand = context as Demande;
                            selectedValue = _demand.TypeDemandeId;
                            <TelerikDropDownList Data="@_TypeDemand"
                                             @bind-Value="@_demand.TypeDemandeId"
                                         TextField="DemandeTypeName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(Demande.Sponsor))" Title="Sponsor" />
            <GridColumn Field="@(nameof(Demande.Contact))" Title="Contact" Visible="false" />
            <GridColumn Field="@(nameof(Demande.OrgUnitId))" Title="Org. Unit">
                <Template>
                    @{
                        int? id = (context as Demande).OrgUnitId;
                        <text>@GetOrgUnitById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _OrgUnit = ctx.OrgUnits.ToList();
                            var _myorgunit = context as Demande;
                            OrgUnitselectedValue = _myorgunit.OrgUnitId;
                            <TelerikDropDownList Data="@_OrgUnit"
                                             @bind-Value="@_myorgunit.OrgUnitId"
                                         DefaultText="Org. Unit"
                                         TextField="OrgUnitName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(Demande.StartDate))" Title="Date" DisplayFormat="{0:dd MMM yy}" Editable="false" />
            <GridColumn Field="@(nameof(Demande.IsRequestTimeSensitive))" Title="Is Request Time Sensitive" />
            <GridColumn Field="@(nameof(Demande.BusinessNeed))" Title="Business Need" />
            <GridColumn Field="@(nameof(Demande.Benefits))" Title="Benefits" />
            <GridColumn Field="@(nameof(Demande.ExpectedDeliverables))" Title="Expected Deliverables" Visible="false" />
            <GridColumn Field="@(nameof(Demande.NumberOfPotentialUsers))" Title="Number Of Potential Users" />
            <GridColumn Field="@(nameof(Demande.IsServiceRequestUnique))" Title="Is Service Request Unique" Visible="false" />
            <GridColumn Field="@(nameof(Demande.ImpactOfNotDoingIt))" Title="Impact Of Not Doing It" Visible="false" />
            <GridColumn Field="@(nameof(Demande.PotentialSolution))" Title="Potential Solution" Visible="false" />
            <GridColumn Field="@(nameof(Demande.PrgCommitteeId))" Title="PRG" Visible="false">
                <Template>
                    @{
                        int? id = (context as Demande).PrgCommitteeId;
                        <text>@GetPRGById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _PrgList = ctx.PrgCommittees.ToList();
                            var _myPrg = context as Demande;
                            PrgselectedValue = _myPrg.PrgCommitteeId;
                            <TelerikDropDownList Data="@_PrgList"
                                             @bind-Value="@_myPrg.PrgCommitteeId"
                                         DefaultText="PRG"
                                         TextField="Libelle"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
                        <GridColumn Field="@(nameof(Demande.ArdaCommitteeId))" Title="ARDA" Visible="false">
                <Template>
                    @{
                        int? id = (context as Demande).ArdaCommitteeId;
                        <text>@GetARDAById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _ArdaList = ctx.ArdaCommittees.ToList();
                            var _myArda = context as Demande;
                            ArdaselectedValue = _myArda.ArdaCommitteeId;
                            <TelerikDropDownList Data="@_ArdaList"
                                             @bind-Value="@_myArda.ArdaCommitteeId"
                                         DefaultText="ARDA"
                                         TextField="Libelle"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(Demande.DeveloperId))" Title="Developer" Visible="false">
                <Template>
                    @{
                        int? id = (context as Demande).DeveloperId;
                        <text>@GetDevById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _DevList = ctx.Developers.ToList();
                            var _myPrg = context as Demande;
                            DevselectedValue = _myPrg.DeveloperId;
                            <TelerikDropDownList Data="@_DevList"
                                             @bind-Value="@_myPrg.DeveloperId"
                                         DefaultText="Developer"
                                         TextField="FullName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(Demande.BusinessAnalystId))" Title="B. Analyst" Visible="false">
                <Template>
                    @{
                        int? id = (context as Demande).BusinessAnalystId;
                        <text>@GetBaById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _BaList = ctx.BusinessAnalysts.ToList();
                            var _myPrg = context as Demande;
                            BaselectedValue = _myPrg.BusinessAnalystId;
                            <TelerikDropDownList Data="@_BaList"
                                             @bind-Value="@_myPrg.BusinessAnalystId"
                                         DefaultText="B. Analyst"
                                         TextField="FullName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(Demande.EntrepriseArchitectId))" Title="EA Member" Visible="false">
                <Template>
                    @{
                        int? id = (context as Demande).EntrepriseArchitectId;
                        <text>@GetEaById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _EaList = ctx.EntrepriseArchitects.ToList();
                            var _myPrg = context as Demande;
                            EaselectedValue = _myPrg.EntrepriseArchitectId;
                            <TelerikDropDownList Data="@_EaList"
                                             @bind-Value="@_myPrg.EntrepriseArchitectId"
                                         DefaultText="EA Member"
                                         TextField="FullName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="save" ShowInEdit="true"></GridCommandButton>
                <GridCommandButton Command="Edit" Icon="edit"></GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete"></GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>