@page "/demandepage"
@using Djibus.Core.Models
@inject AuthenticationStateProvider GetAuthStateAsync

@inject IDbContextFactory<ApplicationDbContext> MyContextFactory

@attribute [Authorize]

<h3 class="alert alert-info">All Demands</h3>
<div class="table table-responsive">
    <TelerikGrid Data="@Demandes"
                 ConfirmDelete="true"
                 Resizable="true"
                 Reorderable="true"
                 SelectionMode="GridSelectionMode.Multiple"
                 PageSize="10"
                 Navigable="true"
                 Pageable="true"
                 Sortable="true"
                 Groupable="true"
                 OnCreate="CreateDemand"
                 OnUpdate="UpdateDemand"
                 OnDelete="DeleteDemand"
                 EditMode="GridEditMode.Popup"
                 FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu"
                 ShowColumnMenu="true">
        <GridToolBar>
            <GridCommandButton Command="Add" Icon="add">New Input</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field="@(nameof(Demande.Title))" Title="Title" />
            <GridColumn Field="@(nameof(Demande.TypeDemandeId))" Title="Type">
                <Template>
                    @{
                        int id = (context as Demande).TypeDemandeId;
                        <text>@GetTypeDemandById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _TypeDemand = ctx.TypeDemandes.ToList();
                            <TelerikDropDownList Data="@_TypeDemand"
                                             @bind-Value="@selectedValue"
                                         DefaultText="Demand Type"
                                         TextField="DemandeTypeName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(Demande.DependenciesIfAny))" Title="Dependencies If Any"/>
            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="save" ShowInEdit="true"></GridCommandButton>
                <GridCommandButton Command="Edit" Icon="edit"></GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete"></GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>