@page "/usermandatorypage"

@using Djibus.Core.Models
@inject AuthenticationStateProvider GetAuthStateAsync

@inject IDbContextFactory<ApplicationDbContext> MyContextFactory

@attribute [Authorize]

<h3 class="alert alert-info">Assigning Roles</h3>
<div class="table table-responsive">
    <TelerikGrid Data="@UserMandatories"
                 ConfirmDelete="true"
                 Resizable="true"
                 Reorderable="true"
                 SelectionMode="GridSelectionMode.Multiple"
                 PageSize="10"
                 Navigable="true"
                 Pageable="true"
                 Sortable="true"
                 Groupable="true"
                 OnCreate="CreateRole"
                 OnUpdate="UpdateRole"
                 OnDelete="DeleteRole"
                 EditMode="GridEditMode.Popup"
                 FilterMode="GridFilterMode.FilterMenu"
                 ShowColumnMenu="true">
        <GridSettings>
            <GridValidationSettings Enabled="true">
            </GridValidationSettings>
        </GridSettings>
        <GridToolBar>
            <GridCommandButton Command="ExcelExport">Export To Excel</GridCommandButton>
            <GridCommandButton Command="Add" Icon="add">New Role</GridCommandButton>
        </GridToolBar>
        <GridColumns>
            <GridColumn Field="@(nameof(UserMandatory.ProfileUserId))" Title="User Profile" Visible="true">
                <Template>
                    @{
                        int id = (context as UserMandatory).ProfileUserId;
                        <text>@GetProfileById(id)</text>
                    }
                </Template>
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _Profiles = ctx.ProfileUsers.ToList();
                            var _usermandatory = context as UserMandatory;
                            selectedValue = _usermandatory.ProfileUserId;
                            <TelerikDropDownList Data="@_Profiles"
                                             @bind-Value="@_usermandatory.ProfileUserId"
                                         TextField="ProfileName"
                                         ValueField="Id">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridColumn Field="@(nameof(UserMandatory.UserName))" Title="Username">
                <EditorTemplate>
                    @{
                        using (var ctx = MyContextFactory.CreateDbContext())
                        {
                            var _Users = ctx.Users.ToList();
                            var _usermandatory = context as UserMandatory;
                            
                            <TelerikDropDownList Data="@_Users"
                                             @bind-Value="@_usermandatory.UserName"
                                         TextField="Username"
                                         ValueField="UserName">
                            </TelerikDropDownList>
                        }
                    }
                </EditorTemplate>
            </GridColumn>
            <GridCommandColumn>
                <GridCommandButton Command="Save" Icon="save" ShowInEdit="true"></GridCommandButton>
                <GridCommandButton Command="Edit" Icon="edit"></GridCommandButton>
                <GridCommandButton Command="Delete" Icon="delete"></GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
    </TelerikGrid>
</div>
